.git
__pycache__
*.pyc
.venv
.env
.env.local
.vscode
build
dist
.pytest_cache
tests
data
*.pkl
*.sqlite3
*.db
.git
__pycache__
*.pyc
.venv
.env
.env.*
.vscode
build
dist
.pytest_cache
*.egg-info
.devcontainer
**/__pycache__


